body{
    font-size: 25px;
    
}

h1{
    background-color: rgb(217, 111, 129);
}

h4{
    font-size: 30px;
    color: rgb(68, 68, 68);
}

nav ul,figure,article,footer{
    display: flex;
    flex-direction: column;
    margin-left: 5em;
}

hr{
    width: 90%;
}

nav ul li a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}


nav ul li a:hover{
   color: rgb(119, 111, 4);
    width: 10%;
}

img{
    width: 50%;
}

dl{
    color: rgb(109, 141, 1);
    font-weight: bolder;
}

@media all and (max-width: 600px){

    nav ul,figure,article,footer{
        float: left;
        width: 80%;
        margin: 0;
        margin-right: 0;
    }

    dl,figcaption,p{
        font-size: 18px;
    }

    h1{
        font-size: 45px;
        width: 90%;
        margin-left: 0.5em;
    }

    img{
        width: 100%;
        margin-top: 2em;
        margin-left: 1em;
    }

    figcaption{
        margin-top: 1em;
        margin-left: 1em;
    }

    article{
        margin-left: 1em;
    }

    footer{
        margin-left: 1em;
    }

}
